
html{
    font-size: 62.5%;
  }

  .main-content {
    background-color: #f3f3f3;
  }

  header .content{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    margin: 0 3rem 0 3rem;
    font-family: 'Roboto', sans-serif;
    
  }

  .content .logo{
    font-size: 2.4rem;
    color: #4a4a4a;
  }

  .content ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 0;
    line-height: 1.6;
  }

  .content ul li{
    margin-left: 2rem;
  }

  .content ul a{
    color: #4a4a4a;
  }

  .content .mobile{
    display: none;
   
  }

  .icon{
    width: 20px;
    vertical-align: top;
    margin-left: .5rem;
  }

  .banner {
    background-image: url(./resources/images/banner-landingpage.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  #sign-up-cta {
    padding-top: 17rem;
    padding-left: 10rem;
    padding-bottom: 17rem;
    width: 646px;
    box-sizing: border-box;
    text-align: center;
  }

  .banner .center {
    background-color: #9dc20a;
    color: #fff;
    border-radius: 0.4rem;
    line-height: 1.4;
    padding-top: 32px;
    padding: 32px 0 56px;
  }

  .banner .header .cursive {
    font-size: 3.2rem;
    text-align: center;
  }

  .banner .header .striking {
    font-size: 5rem;
    font-family: "Rubik", sans-serif;
  }

  .banner .email {
    font-size: 2rem;
    padding-top: 12px;
    font-family: "Roboto", sans-serif;
  }

  .banner .button {
    font-size: 2rem;
    background-color: #4a4a4a;
    font-family: "Roboto", sans-serif;
    padding-top: 1.6rem;
    padding-bottom: 1.6rem;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 26px;
    margin-bottom: ;
    box-sizing: border-box;
    line-height: 1.4;
    text-align: center;
    border-radius: 4px;
  }

  #features-section {
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(2, 1fr);
    margin: 64px 84px;
    grid-column-gap: 38px;
    line-height: 1.2;
    color: #4a4a4a;
    font-family: "Roboto", sans-serif;
  }

  .feature {
    background-color: #fff;
    padding: 32px 52px;
    background-color: #fff;
  }

  #features-section .content {
    margin-top: 36px;
    text-align: center;
  }

  #features-section img {
    max-width: 100%;
    height: auto;
  }

  #features-section .content h2 {
    font-size: 3.6rem;

    font-weight: 700;
  }

  #features-section .content h3 {
    font-size: 16px;
    font-weight: 100;
  }

  #filters-section{
    background-color: #4a4a4a;
    color: #fff;
    padding: 64px 1%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
  }
  #filters-section .images-container{
    display: flex;
    margin-top: 80px;
  }

  #filters-section img{
    width: 100%;
  }

  #filters-section h2{
    font-size: 36px;
    font-weight: 700;
  }

  #filters-section h3{
    font-size: 16px;
    font-weight: 100;
  }

  #quotes-section{
    padding: 80px 0;
    text-align: center;
  }

  #quotes-section .quote{
   font-size: 30px;
   line-height: 1.1;
   color: #4a4a4a;
   font-style: italic;
   font-family: 'Palatino';
   margin-right: 30px;
  }

  #quotes-section .quote-citation{
    max-width: 100%;
    vertical-align: bottom;
  }

  footer .content{
    background-color: #9b9b9b;
    padding: 32px;
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }